<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Library Main Page</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var errorMessage = document.querySelector('.error-message');
          if (errorMessage) {
            document.querySelectorAll('input[type="text"], input[type="password"]').forEach(function(input) {
              input.addEventListener('focus', function() {
                errorMessage.style.display = 'none';
                error = false; 
              });
            });
          }
        });
      </script>
</head>
<body>
    <div class="login-container">
        <h1>Welcome to the EM Library</h1>
        {% if error %}
        <div class="error-message" style="border: 1px solid black; background-color: red; color: black; padding: 10px;">
            {{ error }}
        </div>
        {% endif %}
        <form action="/login" method="post" class="login-form">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
          </div>
          <input type="submit" value="Login">
        </form>
      </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
